---
import RootLayout from "../layouts/root-layout.astro";
import IntroHero from "../components/intro-hero.astro";
import Experiences from "../components/experience.astro";
import Freelance from "../components/freelance.astro";
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
---

<RootLayout>
  <main>
    <IntroHero />
    <Experiences />
    <Freelance />
    <About />
    <Contact />
  </main>
</RootLayout>
