---
import Badge from "./badge.astro";
import Section from "./section/section.astro";
import SectionTitle from "./section/section-title.astro";
import AbsoluteBg from "./bg/absolute-bg.astro";
import Link from "./link.astro";
import { Icon } from "astro-icon/components";

const courses = [
  {
    name: "Just Javascript",
    author: "Dan Abramov",
    link: "https://justjavascript.com/",
  },
  {
    name: "Total TypeScript Essentials",
    author: "Matt Pocock",
    link: "https://www.totaltypescript.com/books/total-typescript-essentials/kickstart-your-typescript-setup",
  },
  {
    name: "Design Patterns",
    author: "Hector de Leon",
    link: "https://www.udemy.com/course/patrones-de-diseno-en-javascript-y-typescript",
  },
  {
    name: "The Last Algorithms Course You'll Need",
    author: "The Primeagean",
    link: "https://frontendmasters.com/courses/algorithms/introduction/",
  },
  {
    name: "React Performance",
    author: "Steve Kinney",
    link: "https://frontendmasters.com/courses/react-performance/introduction/",
  },
];
---

<Section class="pt-[28rem]">
  <SectionTitle>EXPERIENCE</SectionTitle>

  <div
    class="p-10 rounded-[24px] mt-[5rem] border border-[rgba(255,255,255,0.2)]"
  >
    <AbsoluteBg class="rounded-[24px]" />

    <div class="grid grid-cols-2 gap-y-24">
      <p class="text-opacity-white text-[1.5rem]">2023 - Present</p>
      <div class="flex flex-col justify-start items-start">
        <p class="font-medium text-[2rem]">Full Stack Developer</p>
        <p class="text-opacity-white text-[1.8rem]">Fidooo Engineering</p>
      </div>

      <p class="text-opacity-white text-[1.5rem]">2023 - 2023 (6 months)</p>
      <div class="flex flex-col justify-start items-start">
        <p class="font-medium text-[2rem]">WordPress Developer</p>
        <p class="text-opacity-white text-[1.8rem]">Eventys</p>
      </div>

      <p class="text-opacity-white text-[1.5rem]">2022 - 2023</p>
      <div class="flex flex-col justify-start items-start">
        <p class="font-medium text-[2rem]">Full Stack Developer</p>
        <p class="text-opacity-white text-[1.8rem]">Freelance</p>
      </div>
    </div>
  </div>

  <div class="relative pt-[8rem]">
    <div class="grid gap-10">
      <div class="leading-none text-[1.5rem] font-title font-medium">
        I'm currently working with
      </div>
      <div class="flex flex-wrap gap-4">
        <Badge class="text-[1.2rem] border-blue-400">Typescript</Badge>
        <Badge class="text-[1.2rem]">Next.js</Badge>
        <Badge class="text-[1.2rem] border-red-400">Nest.js</Badge>
        <Badge class="text-[1.2rem] border-yellow-400">Firebase</Badge>
        <Badge class="text-[1.2rem] border-green-400">Google Cloud</Badge>
        <Badge class="text-[1.2rem] border-red-400">Git</Badge>
        <Badge class="text-[1.2rem]">Github</Badge>
        <Badge class="text-[1.2rem] border-blue-400">Docker</Badge>
        <Badge class="text-[1.2rem] border-purple-400">Astro</Badge>
      </div>
    </div>
  </div>

  <div class="w-full rounded-[24px] mt-[8rem] p-10 grid gap-4">
    <!-- <div
      class="flex flex-col justify-center items-center w-full h-full text-[1.5rem]"
    >
      <p>SCRATCH TO DISCOVER!</p>
    </div> -->

    <p class="font-title text-[1.8rem] pb-2">Courses I've taken</p>

    <div
      class="relative grid grid-cols-[1fr_1fr_auto] gap-20 text-[1.5rem] border-t border-border-white pt-12"
    >
      <div
        class="absolute left-0 top-0 w-full h-[1px] bg-[length:200%_100%] highlight-border bg-highlight-border"
      >
      </div>
      {
        courses.map((course) => (
          <>
            <p>{course.name}</p>
            <p class="text-opacity-white">{course.author}</p>
            <Link href={course.link}>
              <Icon name="external-link" class="size-8 text-opacity-white" />
            </Link>
          </>
        ))
      }
    </div>
  </div>
</Section>
