---
import { Icon } from "astro-icon/components";
---

<section class="relative h-dvh px-4 intro-div">
  <div
    class="intro-background absolute left-1/2 top-1/2 rounded-full blur-[150px] opacity-50 size-[500px] bg-fuchsia-500"
  >
  </div>
  <div class="h-full flex flex-col justify-center">
    <div class="flex justify-start items-center mt-auto">
      <h1 class="relative z-50 text-[10rem] font-title leading-none">
        <span class="inline-block intro-title translate-x-0">HI I'M</span>
        <span class="inline-block intro-title translate-x-0"
          >FACUNDO<span class="text-6xl">,</span></span
        >
        <span class="inline-block intro-title translate-x-0">FULL STACK</span>
        <span
          class="inline-block intro-title translate-x-0 bg-gradient-to-b from-[rgb(215,215,215)] from-50% to-[rgb(0,0,0)] text-transparent bg-clip-text"
          >DEVELOPER</span
        >
      </h1>
    </div>
    <div class="flex flex-col items-center justify-center mt-auto mb-20">
      <Icon
        name="chevron-dwon"
        class="size-14 animate-[colorChange_1.5s_ease-in-out_infinite_0.5s]"
      />
    </div>
  </div>
</section>
